body{
    margin:0;
    padding: 0;
}
.right .text-aboutme .name {
    float: right;
}
.left {
    float: left;
}   
nav span {
    display: inline-block;
    padding: 14px 35px;
    color: beige;
}
div.center {
    text-align: center;
    padding-bottom: 250px;
}
#top-nav {
    background-color: dimgray;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 20px;
    cursor: context-menu;
}
#top-nav a ,button a{
    float: right;
    padding: 15px 25px;
    color: beige;
    text-decoration: none;
}
#top-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
#home {
    text-align: center;
    margin-top: 0px;
    padding-top: 310px;
    color: beige;
    font-size: 35px;
    animation: fadein 2s;
    font-family: 'Shippori Antique', sans-serif;
}
#home-background {
    background-image: url('images/backgrounds/home-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}
a.button1, a.button2, a.button3{
    display: inline-block;
    padding: 8px 20px;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: rgba(255, 0, 0, 0.527);
    text-align: center;
    transition: all 0.2s;
    animation: fadein 2s;
}
.button1:hover, .button2:hover, a.button3:hover {
    background-color:#4095c6;
}
@media all and (max-width:30em){
     a.button1, a.button2, a.button3{
    display:block;
    margin:0.2em auto;
    }
}
a.button2 {
    margin-bottom: 70px;
}

#aboutme-background {
    background-image: url('images/backgrounds/aboutme-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}

.me {
    float: left;
    padding: 155px 90px 0px 90px;
    width: 25%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
 }

.name {
    margin-top: 0px;
    padding: 110px 20px 0px 0px;
    animation: fadein 2s;
    color: rgba(255, 0, 0, 0.527);
    font-size: 30px;
    font-weight: 900;
    font-family: 'Shippori Antique', sans-serif;
}
.text {
    color: beige;
    font-family: 'Merriweather', serif;
    padding: 0px 80px 10px 0px;
    font-size: 18px;
    line-height: 43px;
    text-align: justify ;
    text-justify: inter-word;
    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
}
    100% {
        transform: translateX(0);
}
}
#workexp-background {
    background-image: url('images/backgrounds/workexp-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}
.header {
    margin-top: 0;
    padding-top: 70px;
    text-align: center;
    animation: fadein 2s;
    color: rgba(255, 0, 0, 0.527);
    font-size: 30px;
    font-weight: 900;
    font-family: 'Shippori Antique', sans-serif;
}
.subheader{
    animation: fadein 2s;
    color: beige;
    font-size: 17px;
    text-align: center;
    font-family: 'Shippori Antique', sans-serif;
}
.banquetpic, .ninjavanpic, .nipponexpresspic{
    width: 25%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.banquetpic {
    margin: 10px 0px 100px 100px;
}
.ninjavanpic, .nipponexpresspic{
    margin: 10px 0px 100px 70px;
}
.nipponexpresspic {
    height: 190px; 
}
.workpic:hover {
    opacity: 0.7;
}
#hidden, #hidden2, #hidden3 {
    color: beige;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 43px;
    text-align: justify ;
    text-justify: inter-word;
    animation: fadein 2s;
}
.work, .nationals{
    color: mediumaquamarine;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Shippori Antique', sans-serif;
}
.work {
    text-align: center;
}
.worktext {
    padding: 0px 200px;
    color: beige;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 33px;
    text-align: center ;
    text-justify: inter-word;
    animation: fadein 2s;
}
a.button3 {
    margin-left: 525px;
    margin-bottom: 180px;
}
#cocurricular-background {
    background-image: url('images/backgrounds/cocurricular-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}
.nationals {
    padding: 30px 150px 0px 150px;
}
.overseas {
    padding-left: 230px;
}